.infoWindow {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 50vw;

  &__image {
    max-height: 150px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
  }

  &__description {
    flex-grow: 1;
  }

  &__url {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  &__btn {
    background-color: black;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.3em;
    border-radius: 0.2rem;
    cursor: pointer;
  }

  &__title {
    font-size: 1.5rem;
  }
}
